*.iml
.gradle
.gradle-user-home
.android-user-home
/local.properties
/.idea/
/.vscode/
/.settings/
/.project
/.classpath
/.claude/
/.sisyphus/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid*.log
app/build/
app/.settings/
app/.project
app/.classpath
